{
  "presets": [
    ["env", { "modules": false }],
    "stage-3"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-decorators-legacy",
        "syntax-dynamic-import",
        "transform-class-properties"
      ]
    },
    "development": {
      "plugins": [
        "transform-runtime",
        "transform-decorators-legacy",
        "syntax-dynamic-import",
        "transform-class-properties"
      ]
    }
  }

}
